.Display {
  height: 80px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  width: 98.5%;
  padding: 10px 14px 0px 10px;
  box-sizing: border-box;
  margin: auto;
}

.Display__Computation {
  font-size: 0.8rem;
  color: #70757A;
  text-align: right;
}

.Display__Result {
  font-size: 2rem;
  color: #000;
  text-align: right;
  line-height: 1.5;
}
