.Calculator {
  padding: 8px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  max-width: 640px;
}

.Calculator__Display {
  margin-bottom: 4px;
}

.Calculator__Panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
